/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard {

  .filter {
    position: absolute;
    right: 0px;
    top: 15px;

    .icon {
      color: lighten($tertiary, 50);
      padding-right: 20px;
      padding-bottom: 5px;
      transition: 0.3s;
      font-size: 16px;
      &:hover, &:focus {
        color: $primary;
      }
    }

    .dropdown-header {
      padding: 8px 15px;
    }

    .dropdown-header h6 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      color: lighten($tertiary, 50);
      margin-bottom: 0;
      padding: 0;
    }

    .dropdown-item {
      padding: 8px 15px;
    }
  }
}

/* Info Cards */
.dashboard {
  .info-card {
    padding-bottom: 10px;
    h6 {
      font-size: 28px;
      color: $secondary;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }

  .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .sales-card {
    .card-icon {
      color: $primary;
      background: lighten($primary, 38);
    }
  }

  .revenue-card {
    .card-icon {
      color: #2eca6a;
      background: lighten(#2eca6a, 44);
    }
  }

  .customers-card {
    .card-icon {
      color: #ff771d;
      background: lighten(#ff771d, 38);
    }
  }
}

/* Activity */
.dashboard {
  .activity {
    font-size: 14px;

    .activity-item {

      .activite-label {
        color: #888;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 64px;

          &::before {
            content: "";
            position: absolute;
            right: -11px;
            width: 4px;
            top: 0;
            bottom: 0;
            background-color: lighten($primary, 36);
        }
      }

      .activity-badge {
        margin-top: 3px;
        z-index: 1;
        font-size: 11px;
        line-height: 0;
        border-radius: 50%;
        flex-shrink: 0;
        border: 3px solid #fff;
        flex-grow: 0;
      }

      .activity-content {
        padding-left: 10px;
        padding-bottom: 20px;
      }

      &:first-child  .activite-label::before {
        top: 5px;
      }

      &:last-child  .activity-content {
       padding-bottom: 0;
      }

    }

  }

}

/* News & Updates */
.dashboard {
  .news {
    .post-item + .post-item {
      margin-top: 15px;
    }

    img {
      width: 80px;
      float: left;
      border-radius: 5px;
    }

    h4 {
      font-size: 15px;
      margin-left: 95px;
      font-weight: bold;
      margin-bottom: 5px;
      a {
        color: $secondary;
        transition: 0.3s;
        &:hover {
          color: $primary;
        }
      }
    }

    p {
      font-size: 14px;
      color: lighten($default, 20);
      margin-left: 95px;
    }

  }
}

/* Recent Sales */
.dashboard {
  .recent-sales {
    font-size: 14px;
    .table thead {
      background: lighten($primary, 38);
      th {
        border: 0;
      }
    }

    .dataTable-top {
      padding: 0 0 10px 0;
    }

    .dataTable-bottom {
      padding: 10px 0 0 0;
    }

  }
}

/* Top Selling */
.dashboard {

  .top-selling {
    font-size: 14px;
    .table  {
      thead {
        background: lighten($primary, 38);
        th {
          border: 0;
        }
      }

      tbody td {
        vertical-align: middle;
      }

    }

    img {
      border-radius: 5px;
      max-width: 60px;
    }


  }
}
